<!doctype html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <title>URL Shortener | tgbao.me</title>
        <meta name="description" content="URL Shortener is used to reduce a long link. Shorten links and then share them to your friend :D">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="url, shortener, url shortener, short url, cut url, url short, reduce url">
        <meta property="og:title" content="URL Shortener | tgbao.me">
        <meta property="og:url" content="https://su.tgbao.me/">
        <meta property="og:type" content="website">
        <meta property="og:image" content="https://su.tgbao.me/assets/img/shorturl-icon.jpg">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="assets/css/base.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <nav class="navbar navbar-dark bg-primary">
            <a class="navbar-brand" href="/">
                Shortener URL
            </a>
        </nav>

        <div class="container py-4 px-2 sm:px-4 xl:px-4">
            <div class="my-14 xl:my-16">
                <div class="max-w-4xl mx-auto" keep-alive="">
                    <div class="rounded-md bg-white shadow space-y-6 text-center p-6 overflow-hidden alert alert-danger">
                        Your shorten URL is not correct
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>